@media screen and (max-width: 1024px) {
    .container {
        margin: 30px 50px;
    }

    .main-container {
        flex-direction: column-reverse;
    }

    .left-column, .right-column {
        width: 100%;
    }

    .right-column {
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 640px) {
    .menu, .day-night-button {
        display: none;
    }

    .resposive-menu {
        display: block;
    }

}


